<!DOCTYPE html>
<html lang="pt">
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/login.css" />
<link rel="stylesheet" href="static/css/admin.css" />
{% extends "base.html"%}
{% block content%}
    <h1>Sensors</h1>
    <ul>
        {% for key, value in sensors.items() %}
      <li>{{ key }} : {{ value }}</li>
        {% endfor %}
    </ul>
    <p><a href="/register_sensor">Register New Sensor</a></p>
    <p><a href="/">Back to Home</a></p>
{% endblock %}


