<!DOCTYPE html>
<html lang="pt">
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/login.css" />
<link rel="stylesheet" href="static/css/admin.css" />
{% extends"base.html"%}
{% block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mein Haus</title>
</head>
<body>
<form action="http://localhost:8000/register_sensor" method="post">
<p>Sensor Name:</p>
<p><label>
    <input type="text" name="name" placeholder="Sensor Name" required />
</label></p>
<p>Initial Value:</p>
<p><label>
    <input type="number" name="value" placeholder="Value" required />
</label></p>
<p><input type="submit" value="Register Sensor"></p>
</form>
{% endblock%}
</body>
</html>