{%extends"base.html"%}
{%block content%}
<ul>
    <li><a href="/register_user">Register Users</a></li>
    <li><a href="/register_sensor">Register Sensors</a></li>
    <li><a href="/register_actuator">Register Actuators</a></li>
    <li><a href="/list_users">List Users</a></li>
    <li><a href="/list_sensors">List Sensors</a></li>
    <li><a href="/list_actuators">List Actuators</a></li>
    <li><a href="/remove_user">Remove User</a></li>
    <li><a href="/remove_sensor">Remove Sensor</a></li>
    <li><a href="/remove_actuator">Remove Actuator</a></li>
</ul>
{%endblock%}
